---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro'
import AboutUs from '../layouts/AboutUs.astro';
import Testimonial from '../layouts/Testimonial.astro';
import Services from '../layouts/Services.astro';
import Footer from '../layouts/Footer.astro';
import Contact from '../layouts/Contact.astro';
---

<Layout title="MOBRA">
	<Header></Header>
  <main class="w-[90%] mx-auto overflow-hidden max-w-screen-xl">
    <AboutUs></AboutUs>
    <Services></Services>
    <Testimonial></Testimonial>
    <Contact></Contact>
    <Footer></Footer>
  </main>
</Layout>
