---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Header.astro';
import AboutUs from '../layouts/AboutUs.astro';
import Testimonial from '../layouts/Testimonial.astro';
import Services from '../layouts/Services.astro';
import Footer from '../layouts/Footer.astro';
import Contact from '../layouts/Contact.astro';
---

<Layout title="MOBRA">
  <Header />
  <main class="container mx-auto px-4">
    <AboutUs class="mb-8" /> 
    <Services class="mb-8" /> 
    <Testimonial class="mb-8" />
    <Contact class="mb-8" /> 
    <Footer class="mb-8" /> 
  </main>
</Layout>