---
// Test.astro
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---


<div class="min-w-[250px] max-h-[160px] mx-2 p-2 shadow-md bg-transparent border-2 border-yellow-500 rounded-lg">
  <p class="font-bold">{title}</p>
  <p class="text-gray-600 text-sm">{content}</p>
</div>