---
import Titulo from "../components/Titulo.astro";
---

<section
  class="px-2 py-16 pt-20 flex flex-col justify-start items-center min-h-[400px]"
  id="About"
>
  <Titulo
    title="About Us"
    subtitle="Revitalize your vehicle with our premier car wash and detailing service!"
  />
  <div class="container mx-auto p-6 max-w-7xl relative">
    <div class="flex flex-col md:flex-row justify-between gap-6" id="imgContainer">
      <!-- Imagen grande en pantallas grandes -->
      <div class="w-full md:w-1/2 h-80 md:h-80 rounded-lg overflow-hidden transition-all duration-300 ease-in-out transform hover:scale-105">
        <img
          src="src/assets/img1.JPG"
          alt="car detail"
          class="w-full h-full object-cover"
          id="img1"
        />
      </div>
      <!-- Dos imágenes más pequeñas apiladas en pantallas grandes -->
      <div class="flex flex-col w-full md:w-1/2 gap-4 justify-evenly">
        <div class="w-full h-80 md:h-32 rounded-lg overflow-hidden transition-all duration-300 ease-in-out transform hover:scale-105">
          <img
            src="src/assets/img2.JPG"
            alt="car detail"
            class="w-full h-full object-cover"
            id="img2"
          />
        </div>
        <div class="w-full h-80 md:h-32 rounded-lg overflow-hidden transition-all duration-300 ease-in-out transform hover:scale-105">
          <img
            src="src/assets/img3.JPG"
            alt="car detail"
            class="w-full h-full object-cover"
            id="img3"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-center w-full mt-8">
      <p
        class="text-sm text-white text-justify pt-8 transition-opacity duration-500 ease-in-out"
        id="paragraph"
      >
        MOBRA as it is today, is an ambitious dream inspired by cars, passion,
        and determination. Throughout its creation, two major states were in
        mind for the rise of the company: New York and Florida. January ’24
        was the pillar of creation for MOBRA, specifically in Miami. From that
        point in time, the company has risen from its beginnings and will
        continue to thrive through its ambition. MOBRA’s goal is to become the
        best car detailing company in the US, eventually in the world.
      </p>
    </div>
  </div>
</section>

<script lang="ts">
  const imgContainer = document.querySelector("#imgContainer");
  const images = imgContainer.querySelectorAll("img");
  const paragraph = document.querySelector("#paragraph");

  images.forEach((img, index) => {
    img.addEventListener("mouseover", () => {
      paragraph.style.opacity = "0";
      setTimeout(() => {
        switch (index) {
          case 0:
            paragraph.textContent =
              "At MOBRA, we don't just aim to make your car's interior look brand new—we strive to create a transformative experience. Our primary goal is to enhance your time in your vehicle, making it more enjoyable, gratifying, and personal. As car enthusiasts, we understand that your vehicle is an extension of your personality and a reflection of who you are. Trust us to bring out the best in your car, making every drive a unique and pleasurable journey";
            break;
          case 1:
            paragraph.textContent =
              "Another thing we want you to know when hiring our services is that we are committed to constant innovation and an unwavering attention to detail. Our goal is to ensure that every visit delivers an exceptional experience, exceeding your expectations and showcasing our dedication to excellence every single time.";
            break;
          case 2:
            paragraph.textContent =
              "Our services are designed to help your vehicle last longer, both inside and out. Weather changes throughout the seasons—such as snow, rain, and high humidity from hot weather—can cause wear and tear on your car’s exterior and undercarriage. These elements can significantly impact your vehicle’s quality and longevity over time. That’s why one of our primary goals is to ensure your car is preserved in the best possible condition year-round. ";
            break;
        }
        paragraph.style.opacity = "1";
      }, 500);
    });

    img.addEventListener("mouseout", () => {
      paragraph.style.opacity = "0";
      setTimeout(() => {
        paragraph.textContent =
          "MOBRA as it is today, is an ambitious dream inspired by cars, passion, and determination. Throughout its creation, two major states were in mind for the rise of the company: New York and Florida. January ’24 was the pillar of creation for MOBRA, specifically in Miami. From that point in time, the company has risen from its beginnings and will continue to thrive through its ambition. MOBRA’s goal is to become the best car detailing company in the US, eventually in the world.";
        paragraph.style.opacity = "1";
      }, 500);
    });
  });
</script>
