---
import Btn2 from "../components/Btn2.astro";
import Input from "../components/Input.astro";
---

<section
  class="py-16 px-2 pt-20 flex flex-col justify-start items-center p-0 sm:py-16 lg:p-16 mt-0"
  id="Contact"
>
  <div
    class="bg-white w-full lg:w-auto lg:h-auto rounded-lg py-8 lg:py-16 flex flex-col lg:flex-row justify-start items-center"
  >
    <div class="w-full lg:w-1/2 flex flex-col justify-evenly items-center">
      <div class="flex flex-col w-full lg:w-[80%] justify-start px-4 pb-4">
        <h2 class="text-2xl text-yellow-500 font-bold uppercase">Contact Us</h2>
        <h3 class="text-sm pb-4 text-black">
          We'd love to hear from you! Whether you have a question about our
          services, need assistance, or want to book an appointment, our team is
          ready to help.
        </h3>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12093.796269666458!2d-73.8771897!3d40.7301432!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25e679a91a6c1%3A0x701ee44b089d164d!2sJuniper%20Valley%20Park!5e0!3m2!1ses-419!2sve!4v1737298703083!5m2!1ses-419!2sve"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        class="w-full lg:w-[70%] h-64 lg:h-96 flex flex-col justify-start items-center rounded-lg px-4"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="w-full lg:w-1/2 flex flex-col justify-start items-center">
      <form
        class="flex flex-col w-full lg:w-[80%] h-full justify-evenly items-center px-4"
      >
        <div class="pt-2 flex flex-col lg:flex-row w-full justify-between gap-x-4 mb-4">
          <Input type="text" placeholder="Name" class="h-10 lg:h-8" />
          <Input type="tel" placeholder="Phone" class="h-10 lg:h-8" />
        </div>
        <div class="w-full">
          <Input type="email" placeholder="Email" class="h-10 lg:h-8 w-full" />
        </div>
        <textarea
          class="border border-black resize-none text-gray-700 rounded-lg h-24 lg:h-32 text-sm overflow-hidden p-2 mb-4 w-full"
        >Hello! </textarea>
        <div class="flex flex-col lg:flex-row w-full justify-between gap-x-2 mb-4">
          <input
            type="date"
            class="w-full p-2 lg:p-0 mb-4 lg:mb-0 border border-gray-900 rounded-lg text-gray-500 bg-white h-10 lg:h-8 text-sm"
          />
          <select
            class="w-full p-2 lg:p-0 border border-gray-900 rounded-lg text-gray-500 bg-white h-10 lg:h-8 text-sm"
          >
            <option value="">Select a Service</option>
            <option value="servicio1">Individuals</option>
            <option value="servicio2">Startups</option>
            <option value="servicio3">Big Companies</option>
          </select>
        </div>
        <Btn2>Send Message</Btn2>
      </form>
    </div>
  </div>
</section>
