<footer
  class="p-8 lg:p-16 flex flex-col justify-start items-center py-16 px-2 pt-20 sm:py-16 mt-0"
>
  <div class="w-full border-t-2 border-white"></div>
  <div
    class="flex flex-col lg:flex-row justify-evenly items-center w-full my-4"
  >
    <h2
      class="text-3xl lg:text-5xl font-semibold text-white flex items-center flex-col"
    >
      <a href="#" class="text-3xl lg:text-5xl font-semibold text-white">MOBRA</a
      >
      <p class="text-lg text-white uppercase">ny | fl</p>
    </h2>
    <div
      class="flex flex-col items-center justify-center mt-4 lg:mt-0 mb-4 lg:mb-0"
    >
      <a class="text-lg text-white" href="mailto:mobradetails@gmail.com"
        >mobradetails@gmail.com</a
      >
      <p class="text-white">Juniper Valley Park</p>

      <div class="flex flex-row mt-2">
        <a
          href="https://www.instagram.com/mobradetailz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          class="text-lg text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <a
            href="https://www.instagram.com/mobradetailz/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>
          </a>
        </a>
      </div>
    </div>
  </div>
  <div class="w-full border-t-2 border-white mt-4 lg:mt-0"></div>
  <div
    class="flex flex-col lg:flex-row justify-between items-center w-full mt-4"
  >
    <div
      class="flex flex-col lg:flex-row mx-4 lg:mx-8 gap-4 text-center lg:text-left"
    >
      <a
        href="#Contact"
        class="text-lg lg:text-xl text-white font-normal"
        id="contactUsLink">Contact Us</a
      >
      <a
        href="#"
        class="text-lg lg:text-xl text-white font-normal"
        id="privacyPolicyLink">Privacy Policy</a
      >
      <a
        href="#"
        class="text-lg lg:text-xl text-white font-normal"
        id="disclaimerLink">Disclaimer</a
      >
    </div>
    <div class="flex flex-col items-center lg:items-end mt-4 lg:mt-0">
      <p
        class="text-white text-center lg:text-right capitalize text-lg lg:text-xl font-normal"
      >
        Copyright &copy; 2024
      </p>
      <!-- <p class="text-white text-center lg:text-right uppercase text-lg lg:text-xl font-normal">MOBRA LLC.</p> -->
    </div>
  </div>
</footer>

<!-- Contenedor del Modal -->
<div id="modalContainer"></div>

<!-- Estilo CSS para el botón de cierre -->
<style>
  .custom-close-button {
    color: #f59e0b; /* Color amarillo personalizado */
  }
</style>
<script>
  function closeModalInverse() {
    const modalContainer = document.querySelector(
      "#modalContainer"
    ) as HTMLElement;
    if (modalContainer) {
      modalContainer.innerHTML = ""; // Vacía el contenido del contenedor del modal
    }
  }

  function openModal(content: string) {
    const modalContainer = document.querySelector(
      "#modalContainer"
    ) as HTMLElement;
    if (modalContainer) {
      modalContainer.innerHTML = `
        <div id="modalOverlay" class="fixed px-4 inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50" style="backdrop-filter: blur(5px);">
          <div class="bg-[#131614] text-white px-2 py-8 rounded-lg shadow-lg relative w-full max-w-3xl md:w-1/2" style="max-height: 80vh; overflow-y: auto;">
            <button id="closeButton" class="absolute top-2 right-2" style="background: none; border: none;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#F59E0B">
                <path d="M18 6L6 18M6 6l12 12" stroke="#F59E0B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
            <h2 class="text-2xl font-bold mb-4">${content}</h2>
            <p>${getContentForModal(content)}</p>
          </div>
        </div>
      `;

      const closeButton = document.getElementById("closeButton");
      const modalOverlay = document.getElementById("modalOverlay");
      if (closeButton && modalOverlay) {
        closeButton.onclick = closeModalInverse;
        modalOverlay.onclick = (event) => {
          if (event.target === modalOverlay) {
            closeModalInverse();
          }
        };
      }
    }
  }

  function getContentForModal(linkText: string): string {
    switch (linkText) {
      case "Disclaimer":
        return "<ol class='list-decimal pl-5 space-y-2'><li><strong>Services Provided</strong><br>MOBRA agrees to provide the following auto detailing services to the Client:<ul class='list-disc pl-5'><li>Car Pickup and Dropoff: MOBRA will arrange to pick up and drop off the Client's vehicle at a specified location.</li><li>Car Detailing at the Client’s Home: Detailing services will be provided at the Client’s home, including but not limited to exterior washing, interior cleaning, waxing, and other detailing services agreed upon.</li><li>Car Parts Removal: Any necessary removal of car parts (e.g., seats, dashboard, or other interior components) for cleaning purposes will be performed.</li></ul></li><li><strong>Duration of Service and Price</strong><br>The estimated duration for completing the detailing service is [Insert Estimated Time], depending on the service package selected. The total agreed-upon price for the service is [Insert Price]. This amount is due upon completion of services unless otherwise agreed upon in writing.</li><li><strong>Agreement to Use Services</strong><br>By signing this agreement, the Client agrees to allow MOBRA’s detailers to access and use their vehicle solely for the purpose of providing the detailed services outlined in this contract. The Client acknowledges that access to the vehicle during the detailing process is necessary to complete the work.</li><li><strong>Cancellation Policy</strong><br>The Client may cancel the service with at least [Insert Number] hours’ notice prior to the scheduled service time. Cancellations made with less than the specified notice period will incur a cancellation fee of [Insert Fee]. If the Client does not cancel the appointment and the detailers arrive at the location, the full service fee will be charged.</li><li><strong>Vehicle Condition Policy</strong><br>The Client is responsible for ensuring that their vehicle is in a good and safe condition prior to the service. Any mechanical or structural issues that may arise during the detailing process are not the responsibility of MOBRA. If the vehicle is found to have existing issues that could impede the detailing service, the Client will be notified and may be asked to reschedule or make alternative arrangements.</li><li><strong>Personal Property Policy</strong><br>The Client is required to remove all personal belongings from their vehicle before the detailing service begins. MOBRA is not responsible for any loss, damage, or theft of items left in the vehicle, and the Client agrees to ensure that the vehicle is clear of all personal items before the detailing service commences.</li><li><strong>Damage and Liability Policy</strong><br>MOBRA takes great care during the detailing process to prevent any damage to the Client’s vehicle. However, the Client acknowledges and agrees that MOBRA is not liable for any accidental damage that may occur to the vehicle during the detailing service. The Client’s signature indicates that they understand and accept the potential risks involved in the detailing process.</li></ol>";
      case "Privacy Policy":
        return "Your privacy is important to us. This privacy policy explains how we collect, use, and share your personal information. We are committed to protecting your personal data and ensuring it is handled in a safe and responsible manner.Your privacy is important to us. This privacy policy explains how we collect, use, and share your personal information. We are committed to protecting your personal data and ensuring it is handled in a safe and responsible manner.Your privacy is important to us. This privacy policy explains how we collect, use, and share your personal information. We are committed to protecting your personal data and ensuring it is handled in a safe and responsible manner.Your privacy is important to us. This privacy policy explains how we collect, use, and share your personal information. We are committed to protecting your personal data and ensuring it is handled in a safe and responsible manner.Your privacy is important to us. This privacy policy explains how we collect, use, and share your personal information. We are committed to protecting your personal data and ensuring it is handled in a safe and responsible manner.Your privacy is important to us. This privacy policy explains how we collect, use, and share your personal information. We are committed to protecting your personal data and ensuring it is handled in a safe and responsible manner.";
      default:
        return "Content not found.";
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    const disclaimerLink = document.getElementById("disclaimerLink");
    const privacyPolicyLink = document.getElementById("privacyPolicyLink");
    const contactUsLink = document.getElementById("contactUsLink");

    if (disclaimerLink) {
      disclaimerLink.addEventListener("click", function (event) {
        event.preventDefault();
        openModal(disclaimerLink.textContent ?? "Disclaimer");
      });
    }

    if (privacyPolicyLink) {
      privacyPolicyLink.addEventListener("click", function (event) {
        event.preventDefault();
        openModal(privacyPolicyLink.textContent ?? "Privacy Policy");
      });
    }
  });
</script>
