<footer class="mb-0 left-0 p-16 pt-20 flex flex-col justify-start items-center ">
  <div class="w-full border-t-2 border-white"></div>
  <div class="flex flex-row justify-evenly items-center w-full my-4">
    <h2 class="text-5xl font-extrabold text-white flex items-center flex-col">
      <a href="#" class="text-5xl font-extrabold text-white">MOBRA</a>
      <p class="text-lg text-white uppercase">ny | fl</p>
    </h2>
    <div class="flex flex-col items-center justify-center mb-0">
      <a class="text-lg text-white" href="mailto:mobradetails@gmail.com">mobradetails@gmail.com</a>
      <div class="flex flex-row mt-2">
        <a
          href="https://www.instagram.com/mobradetailz?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          class="text-lg text-white"
          target="_blank"
          rel="noopener noreferrer"
        >
          <!-- Aquí puedes agregar el SVG o icono de Instagram si lo deseas -->
        </a>
      </div>
      <p>Juniper Valley Park</p>
    </div>
  </div>
  <div class="w-full border-t-2 border-white"></div>
  <div class="flex flex-row justify-between w-full mt-4">
    <div class="flex flex-row mx-8 gap-4">
      <a href="#Contact" class="text-xl text-white mx-2 font-normal" id="contactUsLink">Contact Us</a>
      <a href="#" class="text-xl text-white mx-2 font-normal" id="privacyPolicyLink">Privacy Policy</a>
      <a href="#" class="text-xl text-white mx-2 font-normal" id="disclaimerLink">Disclaimer</a>
    </div>
    <div class="flex flex-col">
      <p class="text-white text-right capitalize text-xl font-normal">Copyright &copy; 2024</p>
      <p class="text-white text-right uppercase text-xl font-normal">MOBRA LLC.</p>
    </div>
  </div>
</footer>