---
import Card from "../components/Card.astro";
import Titulo from "../components/Titulo.astro";
---

<section class="py-16 px-2 pt-20 flex flex-col justify-start items-center" id="Services">
  <Titulo title="Services & Pricing" subtitle="" />

  <div class="flex flex-col gap-y-12 group w-full lg:flex-row lg:gap-10 lg:justify-center">
    <Card
      title="MOBRA BASIC PACKAGE"
      subtitle="Basic"
      actionTitle="$80"
      includes={[
        "Exterior wash",
        "Wheel polishing",
        "Wheel silicone",
        "Vacuuming",
      ]}
      action="Get Started"
      image="./img4.webp"
      className="group-hover:blur-sm hover:!blur-none w-full lg:w-70"
      id="card1"
      showPopularButton={false}
    />

    <Card
      title="MOBRA PRO PACKAGE"
      subtitle="Pro"
      actionTitle="$150"
      includes={[
        "MOBRA BASIC PACKAGE",
        "Dashboard detailing",
        "Leather and fabric moisture and protection",
        "Badge polishing",
      ]}
      action="Get Started"
      image="./img5.webp"
      className="bg-yellow-500 group-hover:blur-sm hover:!blur-none group-hover:bg-white hover:!bg-yellow-500 w-full lg:w-70"
      id="card2"
      showPopularButton={true} 
    />

    <Card
      title="MOBRA PREMIUM PACKAGE"
      subtitle="Enterprise"
      actionTitle="$300"
      includes={[
        "MOBRA PRO PACKAGE",
        "Exterior polishing",
        "Coating",
        "Engine detailing",
        "Spotless interior",
      ]}
      action="Get Started"
      image="./img6.webp"
      className="group-hover:blur-sm hover:!blur-none w-full lg:w-70"
      id="card3"
      showPopularButton={false} 
    />
  </div>
</section>
