---
import Card from "../components/Card.astro";
import Titulo from "../components/Titulo.astro";
---

<section class="p-16 pt-20 flex flex-col justify-start items-center relative" id="Services">
  <Titulo title="Services & Pricing" subtitle="" />

  <div class="flex gap-10 group">
    <Card
      title="For individuals"
      subtitle="Basic"
      description="MOBRA BASIC PACKAGE"
      actionTitle="$80"
      includes={[
        "Exterior wash",
        "Wheel polishing",
        "Wheel silicone",
        "Vacuuming",
      ]}
      action="Get Started"
      image="src/assets/img4.jpg"
      className="group-hover:blur-sm hover:!blur-none"
      id="card1"
      width="w-80"
      showPopularButton={false}
    />

    <Card
      title="For Startups"
      subtitle="Pro"
      description="MOBRA PRO PACKAGE"
      actionTitle="$150"
      includes={[
        "MOBRA BASIC PACKAGE",
        "Dashboard detailing",
        "Leather and fabric moisture and protection",
        "Badge polishing",
      ]}
      action="Get Started"
      image="src/assets/img5.jpg"
      className="bg-yellow-500 group-hover:blur-sm hover:!blur-none group-hover:bg-white hover:!bg-yellow-500"
      id="card2"
      showPopularButton={true} 
      width="w-86"

    />

    <Card
      title="For Big Companies"
      subtitle="Enterprise"
      description="MOBRA PREMIUM PACKAGE"
      actionTitle="$300"
      includes={[
        "MOBRA PRO PACKAGE",
        "Exterior polishing",
        "Coating",
        "Engine detailing",
        "Spotless interior",
      ]}
      action="Get Started"
      image="src/assets/img6.jpg"
      className="group-hover:blur-sm hover:!blur-none"
      id="card3"
      width="w-80"
      showPopularButton={false} 
    />
  </div>
</section>