---
import Titulo from "../components/Titulo.astro";
import Test from "../components/Test.astro";
---

<section
  class="pt-20 flex flex-col justify-start items-center relative mb-16 h-screen"
  id="Testymonial"
>
  <Titulo
    title="Testimonials"
    subtitle="Our clients' experiences drive our excellence."
  />

  <style>
    .masked-scroll {
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
      );
    }
  </style>

  <div
    class="w-full flex flex-col justify-center relative my-auto overflow-hidden masked-scroll group"
  >
    <div
      class="flex w-full max-w-3xl animate-loop-scroll group-hover:pause mb-4"
    >
      <div class="flex">
        <Test
          title="Anzel Teguris:"
          content="I’ve tried several detailing services, but MOBRA is on another level. My car looks like it just rolled out of the factory."
        />
        <Test
          title="Bovaro Cresten:"
          content="I recently took my car to MOBRA for interior detailing, and I’m absolutely blown away."
        />
        <Test
          title="Mireya Anda:"
          content="Fast, professional, and flawless! MOBRA is now my go-to for all car detailing needs."
        />
        <Test
          title="Damian Tura:"
          content="MOBRA exceeded all my expectations. I have two kids and a dog, so you can imagine the state of my car before the service—crumbs, pet hair, stains, the works."
        />
      </div>
      <div class="flex">
        <Test
          title="Anzel Teguris:"
          content="I’ve tried several detailing services, but MOBRA is on another level. My car looks like it just rolled out of the factory."
        />
        <Test
          title="Bovaro Cresten:"
          content="I recently took my car to MOBRA for interior detailing, and I’m absolutely blown away."
        />
        <Test
          title="Mireya Anda:"
          content="Fast, professional, and flawless! MOBRA is now my go-to for all car detailing needs."
        />
        <Test
          title="Damian Tura:"
          content="MOBRA exceeded all my expectations."
        />
      </div>
    </div>

    <div
      class="flex w-full max-w-3xl animate-loop-scroll-reverse group-hover:pause mb-4"
    >
      <div class="flex">
        <Test
          title="Anzel Teguris:"
          content="I’ve tried several detailing services, but MOBRA is on another level. My car looks like it just rolled out of the factory."
        />
        <Test
          title="Bovaro Cresten:"
          content="I recently took my car to MOBRA for interior detailing, and I’m absolutely blown away."
        />
        <Test
          title="Mireya Anda:"
          content="Fast, professional, and flawless! MOBRA is now my go-to for all car detailing needs."
        />
        <Test
          title="Damian Tura:"
          content="MOBRA exceeded all my expectations. I have two kids and a dog, so you can imagine the state of my car before the service—crumbs, pet hair, stains, the works."
        />
      </div>
      <div class="flex">
        <Test
          title="Anzel Teguris:"
          content="I’ve tried several detailing services, but MOBRA is on another level. My car looks like it just rolled out of the factory."
        />
        <Test
          title="Bovaro Cresten:"
          content="I recently took my car to MOBRA for interior detailing, and I’m absolutely blown away."
        />
        <Test
          title="Mireya Anda:"
          content="Fast, professional, and flawless! MOBRA is now my go-to for all car detailing needs."
        />
        <Test
          title="Damian Tura:"
          content="MOBRA exceeded all my expectations."
        />
      </div>
    </div>
  </div>
</section>
